<div class="row">
  <div class="col-md-12">
    <h3>Schultyp hinzufügen</h3>
    <div class="input-group full-width">
      <input class="form-control" type="text" placeholder="HTL" id="schooltype" [(ngModel)]="schooltype">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-block btn-primary">Hinzufügen</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Schultypen bearbeiten</h3>
    <ul class="list-group">
      <li class="list-group-item list-group-item-heading">Vorhandene Schultypen</li>
      <li class="list-group-item" *ngFor="let type of getSchooltypes()">
        <div class="row">
          <div class="col-md-8">
            {{type.description}}
          </div>
          <div class="col-md-4" align="right">
            <button class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Bearbeiten</button>
            <button class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Löschen</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
