<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Login</h2>
    </div>
    <div class="panel-body">
      <p class="input-group full-width">
        <input type="text" class="form-control" placeholder="Username"
               [(ngModel)]="username">
      </p>
      <p class="input-group full-width">
        <input type="password" class="form-control" placeholder="Password"
               [(ngModel)]="password">
      </p>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary"
        (click)="login()">
        Login
      </button>
    </div>
  </div>

  <div class="panel panel-danger" *ngIf="wrongPassword">
    <div class="panel-heading">
      Benutzername oder Password falsch!
    </div>
  </div>
</div>
