<div class="row">
  <div class="col-md-12">
    <h3>Vokabel hinzufügen</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="dropdown">
      <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Schultyp auswählen
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dropdown">
      <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Schulstufe auswählen
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dropdown">
      <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Ausgangssprache auswählen
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#"></a></li>
        <li>
          <input class="form-control" type="text" placeholder="Deutsch">
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dropdown">
      <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Fremdsprache auswählen
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#"></a></li>
        <li>
          <input class="form-control" type="text" placeholder="Deutsch">
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dropdown">
      <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Einheit auswählen
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="input-group full-width">
      <input type="text" class="form-control" placeholder="Unit 1" [(ngModel)]="unitname">
    </span>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-block btn-primary">Hinzufügen</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Vokabeln bearbeiten</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-heading">Vorhandene Vokabeln</li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-8">
            Lorem Ipsum
          </div>
          <div class="col-md-4" align="right">
            <button class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Bearbeiten</button>
            <button class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Löschen</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
