<div class="col-md-4">
  <ul class="list-group">
    <li class="list-group-item list-group-item-heading active">{{schoollevel.description}} -
      Ausgangssprache
      <button class="badge" (click)="resetLanguages()">Reset</button>
    </li>
    <li class="list-group-item"
       *ngFor="let lang of languages"
       (click)="selectOutputLanguage(lang)"
       [class.disabled]="inputLanguage == lang"
       [class.active]="outputLanguage == lang">
      {{lang.description}}
    </li>
  </ul>
</div>
<div class="col-md-4">
  <ul class="list-group">
    <li class="list-group-item list-group-item-heading active">{{schoollevel.description}} -
      Fremdsprache</li>
    <li class="list-group-item"
       *ngFor="let lang of languages"
       [class.disabled]="outputLanguage == lang"
       [class.active]="inputLanguage == lang"
       (click)="selectInputLanguage(lang)">
      {{lang.description}}
    </li>
  </ul>
</div>

<app-unit-selection
  *ngIf="inputLanguage && outputLanguage"
  [schoollevel]="schoollevel"
  [inputLanguage]="inputLanguage"
  [outputLanguage]="outputLanguage"></app-unit-selection>
