<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-heading active">Schultyp</a>
        <a class="list-group-item" *ngFor="let typ of getSchooltypes()" (click)="selectedSchooltype = typ.id">
            {{typ.name}}
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-heading active">HTL - Jahrgang</a>
        <a href="#"
           class="list-group-item"
           *ngFor="let level of getSchoollevel(selectedSchooltype)"
           (click)="selectedSchoollevel = level.id">{{level.name}}</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-heading active">1. Jahrgang - Ausgangssprache</a>
        <a href="#" class="list-group-item" *ngFor="let lang of getLanguages(selectedSchooltype, selectedSchoollevel)"
          (click)="selectedInputLanguage = lang.id">
          {{lang.name}}
        </a>
      </div>

    </div>
    <div class="col-md-2">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-heading active">1. Jahrgang - Fremdsprache</a>
        <a href="#" class="list-group-item"
           *ngFor="let lang of getLanguages(selectedSchooltype, selectedSchoollevel)"
            ngClass="{'disabled': selectedInputLanguage == lang.id}">{{lang.name}}</a>
      </div>
    </div>
    <div class="col-md-2">
      <li class="list-group-item list-group-item-heading active">Spanisch : Englisch - Einheit</li>
      <li class="list-group-item">Unit 1</li>
      <li class="list-group-item disabled">Unit 2</li>
    </div>
  </div>
</div>
