<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-heading active">Schultyp</a>
        <a class="list-group-item"
           *ngFor="let typ of getSchooltypes()"
           (click)="selectedSchooltype = typ"
            [ngClass]="{'disabled' : selectedSchooltype != null && selectedSchooltype.id == typ.id}">
            {{typ.name}}
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-heading active">{{selectedSchooltype.name}} - Jahrgang</a>
        <a href="#"
           class="list-group-item"
           *ngFor="let level of getSchoollevel(selectedSchooltype.id)"
           (click)="selectedSchoollevel = level"
           [ngClass]="{'disabled' : selectedSchoollevel.id == level.id}">{{level.name}}</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-heading active">{{selectedSchoollevel.name}} - Ausgangssprache</a>
        <a href="#" class="list-group-item"
           *ngFor="let inputLang of getLanguages(selectedSchooltype.id, selectedSchoollevel.id)"
          (click)="selectedInputLanguage = inputLang"
           [ngClass]="{'disabled' : selectedInputLanguage.id == inputLang.id || selectedOutputLanguage.id == inputLang.id}">
          {{inputLang.name}}
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-heading active">{{selectedSchoollevel.name}} - Fremdsprache</a>
        <a href="#" class="list-group-item"
           *ngFor="let outputLang of getLanguages(selectedSchooltype.id, selectedSchoollevel.id)"
           [ngClass]="{'disabled' : selectedInputLanguage.id == outputLang.id || selectedOutputLanguage.id == outputLang.id}"
            (click)="selectedOutputLanguage = outputLang">
          {{outputLang.name}}
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a class="list-group-item list-group-item-heading active">
          {{selectedInputLanguage.name}} : {{selectedOutputLanguage.name}} - Einheit
        </a>
        <a class="list-group-item">Unit 1</a>
        <a class="list-group-item disabled">Unit 2</a>
      </div>
    </div>
  </div>
</div>
