<div class="container">

  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>{{outputLanguage.description}}</h3>
          <span *ngIf="vocabs && current">Noch {{vocabs.length+1}} Vokabeln übrig!</span>
        </div>
        <div class="panel-body">
            <input *ngIf="current && current.word && current.foreignWord"
              class="form-control" type="text" [value]="getForeignWord().word" readonly>
          <div *ngIf="!current"
                 class="panel panel-success">
            <div class="panel-heading">
              <h5>Du bist fertig!</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>{{inputLanguage.description}}</h3>
        </div>
        <div class="panel-body">
          <input class="form-control" type="text" #inputWord
                 (keypress)="checkUserInput($event, inputWord)">
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="correct != null">
    <div class="col-md-12">
      <div class="panel" [class.panel-success]="correct" [class.panel-danger]="!correct">
        <div class="panel-heading">
          <h5 *ngIf="correct">Richtig!</h5>
          <h5 *ngIf="!correct">Falsch!</h5>
        </div>
      </div>
    </div>
  </div>

  <!--<div *ngIf="isDevMode()">
    <h4>Development Data</h4>
    <ul>
      <li *ngFor="let voc of vocabs">
        <label>Id: </label> {{voc.id}}
        <br>
        <label>Word: </label> {{voc.word_id}}
        <div *ngIf="voc.word"> {{voc.word.word}}
          <div *ngIf="voc.word.language"> {{voc.word.language.description}} </div>
        </div>
        <br>
        <label>Foreign Word: </label> {{voc.foreign_word_id}}
        <div *ngIf="voc.foreignWord"> {{voc.foreignWord.word}}
          <div *ngIf="voc.foreignWord.language"> {{voc.foreignWord.language.description}} </div>
        </div>
      </li>
    </ul>
  </div>-->
</div>
