<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>{{inputLanguage.description}}</h3>
        </div>
        <div class="panel-body">
            <input class="form-control" type="text" readonly>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>{{outputLanguage.description}}</h3>
        </div>
        <div class="panel-body">
            <input class="form-control" type="text">
        </div>
      </div>
    </div>
  </div>
</div>
